
/*========= Logo =======*/

.logo {
	margin: auto;
	max-width: 1300px;
	height: 47px;
}

.logo img {
	float: left;
	max-height: 43px;
	position: relative;
	margin-left: -13px;
}


/*===========  Login =========*/

.login {
	float: right;
}

.login a {
	font-family: sans-serif;
	background-color: #f44336;
	font-size: 15px;
	border: none;
	cursor: pointer;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
}

.login a:hover {
	background-color: #009dff;
}

.bodyContainer {
	position: relative;
	//background-color: black;
}

.navContainer {
	background-color: rgb(46, 46, 46);
	margin: auto;
	width: 100%;
	height: 50px;
	z-index: 100;
	position: relative;
}

.navigator {
	font-family: sans-serif;
	font-size: 14px;
	margin: 0 auto;
	max-width: 1300px;
}

.navigator ul {
	display: inline;
}


/*the green button*/

.dropbtn {
	background-color: rgb(46, 46, 46);
	color: white;
	padding: 16px;
	font-size: 15px;
	border: none;
	cursor: pointer;
}


/* the wrapper */

.dropdown {
	position: relative;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f44336;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 250px;
	box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.navigator ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navigator li {
	float: left;
}

li a,
.dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
}

.navigator li a:hover,
.dropdown:hover .dropbtn {
	background-color: #f44336;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	color: white;
}

li.dropdown {
	display: inline-block;
}

body {
	text-align: center;
	font-family: sans-serif;
}


/** ========================================
============== Slide Show ==================
==========================================**/

.slideShow {
	position: relative;
	z-index: 80;
	-moz-user-select: none;
	-webkit-user-select: none;
}


/* Slideshow container */

.slideshow-container {
	width: 100%;
	height: 50%;
	position: relative;
	margin: auto;
	//box-shadow: 0px 3px 10px #888888;
}


/* Next & previous buttons */

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 0;
	top: 40%;
	width: auto;
	margin-top: -22px;
	margin: auto 157px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 30px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}


/* Position the "next button" to the right */

.next {
	right: 0;
	border-radius: 3px;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.prev {
	left: 0;
	border-radius: 3px;
	-moz-user-select: none;
	-webkit-user-select: none;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.slideShowDot {
	margin-top: -50px;
	right: 0;
	right: 48%;
	cursor: pointer;
	position: absolute;
	top: 0;
	top: 94%;
	width: auto;
	padding: 16px;
}

.slideShowDot li {
	list-style-type: none;
	float: left;
}


/* The dots/bullets/indicators */

.dot {
	cursor: pointer;
	height: 11px;
	width: 11px;
	margin: 0 2px;
	background-color: #efefef;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}


/* Fading animation */

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.3s;
	animation-name: fade;
	animation-duration: 1.3s;
}

@-webkit-keyframes fade {
	from {
		opacity: .7
	}
	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .7
	}
	to {
		opacity: 1
	}
}


/* City with responsive movement*/

.city {
	max-width: 380px;
	float: left;	
	border: 1px solid #dddcdc;
	margin: 26px;	
	position: relative;
	margin-top: 47px;
	color: black;
}

.city h3 {
	font-weight: bold;
	background-color: rgb(255, 255, 255);	
}

.city h3:hover {
	background-color: white;
	color: black;
	transition: background-color 0.1s ease;
}

.city a {
	text-decoration: none;
}

.city p{
	padding: 20px;
}
.midBody {
	max-width: 1300px;
	margin: auto;
}

.leftSide {
	float: left;
	width: 812px;
	margin: auto;
	text-align: left;
	font-size: 12px;
	//border-radius: 5px;
	border: 1px solid #dddcdc;
	color: black;
	//box-shadow: 0px 3px 10px #888888;
	margin-top: 20px;
	margin-left: 26px;
}

.common-post {
	max-width: 785px;
	margin-bottom: 40px;
	padding-left: 28px;
	padding-right: 28px;
}

.leftSide h3 {
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: bold;
}

.leftSide h2 {
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
}

.common-post img {
	background-color: transparent;
	height: 27px;
	width: 27px;
	margin-right: 14px;
}

.common-post a {
	text-decoration: none;
}

.common-post a:hover {
	color: #0097f4;
}

.footer {
	float: left;
	width: 100%;
	text-align: left;
	font-size: 12px;
	background: #2e2e2e;
	color: white;
	margin-top: 300px;
}

.rightSide img {
	float: right;
	width: 378px;	
	height: 200px;
	font-size: 12px;
	//border-radius: 5px;
	background-color: black;
	color: white;
	//box-shadow: 0px 3px 10px #888888;
	margin-top: 20px;
	margin-right: 30px;
}

.middleFooter {
	margin: auto 0;
	max-width: 383px;
	float: left;
	padding: 25px;
	padding-top: 10px;
	margin: 10px;
	background: #2e2e2e;
	position: relative;
	margin-top: 30px;
	color: white;
}

.footContainer {
	margin-left: 400px;
}

.middleFooter a {
	text-decoration: none;
}

.middleFooter a:hover {
	text-decoration: underline;
}

.form {
	float: right;
	padding-top: 7px;
}

#searchBar {
	width: 100%;
	height: 32px;
	border: 1px solid #c1c1c1;
	font-size: 14px;
	background-image: url(image/toolbar_find.png);
	background-color: #ffffff;
	background-repeat: no-repeat;
	outline-width: 0;
	padding: 12px 12px 12px 30px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

#searchBar:focus {
	width: 100%;
	color: #bfbebe;
}


/*-------- After slide ------*/

.afterSlide {
	background-color: #ff5722;
	height: 90px;
	line-height: 90px;
	color: white;
	margin-top: -15px;
}

/*--------- socialIcon -----------*/
.socialIcon{
	width: 23px;
	margin-top: 17px;
	margin-left: 27px;	
}

.socialIcon img:hover{
	
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 200; /* Sit on top */
	left: 0;
	
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 200; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5px auto; /* 15% from the top and centered */
	border: 1px solid #888;
	width: 27%; /* Could be more or less, depending on screen size */
	margin-top: 113px;
	
}

/* The Close Button */
.close {
	/* Position it in the top right corner outside of the modal */
	position: absolute;
	right: 25px;
	top: 0; 
	color: #ff0000;
	font-size: 35px;
	font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}

/*-------------- Form, btn, input ---------------*/
.submitBtn{
	margin:13px 0; 
	width:85%; 
	padding: 15px; 
	margin-top:43px; 
	background-color:#009dff; 
	color:white;
	border: none; 
	cursor: pointer;
}

.submitBtn:hover{
	background-color: #ff5722;
}

.inputForm , .inputForm:focus{
	margin:13px 0; 
	width:85%; 
	padding: 7px;
	outline: none;
	color: #888;
}


